/*! minireset.css v0.0.3 | MIT License | github.com/jgthms/minireset.css */
html,
body,
p,
ol,
ul,
li,
dl,
dt,
dd,
blockquote,
figure,
fieldset,
legend,
textarea,
pre,
iframe,
hr,
h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0;
  padding: 0;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-size: 100%;
  font-weight: normal;
}

ul {
  list-style: none;
}

button,
input,
select,
textarea {
  margin: 0;
}

html {
  box-sizing: border-box;
}

*, *:before, *:after {
  box-sizing: inherit;
}

img,
embed,
iframe,
object,
audio,
video {
  height: auto;
  max-width: 100%;
}

iframe {
  border: 0;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

td,
th {
  padding: 0;
  text-align: left;
}

html {
  background-color: #FFFFFF;
  font-size: 1rem;
  font-family: BlinkMacSystemFont, -apple-system, "system-ui", "Segoe UI", "Roboto", "Helvetica Neue", "sans-serif";
  min-width: 300px;
  overflow-x: hidden;
  overflow-y: scroll;
  text-rendering: optimizeLegibility;
}

a {
  color: #2980B9;
  cursor: pointer;
  text-decoration: none;
}
a:hover, a:focus, a:active {
  color: #003B74;
}

strong {
  font-weight: 700;
}

hr {
  border: 0.5px;
  border-style: solid;
  border-color: #A7ADBA;
  height: 0px;
  margin: 1rem;
  margin-left: 0px;
  margin-right: 0.5rem;
}

p {
  line-height: 1.3rem;
}

.title {
  font-size: 2rem;
  font-weight: 700;
}
.title.size-1 {
  font-size: 3rem;
}
.title.size-2 {
  font-size: 2.5rem;
}
.title.size-3 {
  font-size: 2rem;
}
.title.size-4 {
  font-size: 1.5rem;
}
.title.size-5 {
  font-size: 1.25rem;
}
.title.size-6 {
  font-size: 1rem;
}

.subtitle {
  font-size: 1.5rem;
  font-weight: 400;
}
.subtitle.size-1 {
  font-size: 3rem;
}
.subtitle.size-2 {
  font-size: 2.5rem;
}
.subtitle.size-3 {
  font-size: 2rem;
}
.subtitle.size-4 {
  font-size: 1.5rem;
}
.subtitle.size-5 {
  font-size: 1.25rem;
}
.subtitle.size-6 {
  font-size: 1rem;
}

.cols {
  display: flex;
  flex-wrap: wrap;
  align-items: flex-start;
  margin-left: -0.5rem;
  margin-right: -0.5rem;
}
.cols .cols {
  width: 100%;
  margin-left: 0;
  margin-right: 0;
}
.cols.is-tile {
  align-items: stretch;
}
.cols-mobile, .cols-tablet, .cols-desktop, .cols-widescreen {
  display: flex;
  flex-wrap: wrap;
  margin-left: -0.5rem;
  margin-right: -0.5rem;
}
@media screen and (max-width: 600px) {
  .cols-tablet, .cols-desktop, .cols-widescreen {
    display: block;
  }
  .cols-tablet > .col, .cols-tablet > .col-1, .cols-tablet > .col-2, .cols-tablet > .col-3, .cols-tablet > .col-4, .cols-tablet > .col-5, .cols-tablet > .col-6, .cols-tablet > .col-7, .cols-tablet > .col-8, .cols-tablet > .col-9, .cols-tablet > .col-10, .cols-tablet > .col-11, .cols-tablet > .col-12 {
    display: block;
    width: 100%;
    margin: 0;
  }
  .cols-desktop > .col, .cols-desktop > .col-1, .cols-desktop > .col-2, .cols-desktop > .col-3, .cols-desktop > .col-4, .cols-desktop > .col-5, .cols-desktop > .col-6, .cols-desktop > .col-7, .cols-desktop > .col-8, .cols-desktop > .col-9, .cols-desktop > .col-10, .cols-desktop > .col-11, .cols-desktop > .col-12 {
    display: block;
    width: 100%;
    margin: 0;
  }
  .cols-widescreen > .col, .cols-widescreen > .col-1, .cols-widescreen > .col-2, .cols-widescreen > .col-3, .cols-widescreen > .col-4, .cols-widescreen > .col-5, .cols-widescreen > .col-6, .cols-widescreen > .col-7, .cols-widescreen > .col-8, .cols-widescreen > .col-9, .cols-widescreen > .col-10, .cols-widescreen > .col-11, .cols-widescreen > .col-12 {
    display: block;
    width: 100%;
    margin: 0;
  }
}
@media screen and (min-width: 600px) and (max-width: 900px) {
  .cols-desktop, .cols-widescreen {
    display: block;
  }
  .cols-desktop > .col, .cols-desktop > .col-1, .cols-desktop > .col-2, .cols-desktop > .col-3, .cols-desktop > .col-4, .cols-desktop > .col-5, .cols-desktop > .col-6, .cols-desktop > .col-7, .cols-desktop > .col-8, .cols-desktop > .col-9, .cols-desktop > .col-10, .cols-desktop > .col-11, .cols-desktop > .col-12 {
    display: block;
    width: 100%;
    margin: 0;
  }
  .cols-widescreen > .col, .cols-widescreen > .col-1, .cols-widescreen > .col-2, .cols-widescreen > .col-3, .cols-widescreen > .col-4, .cols-widescreen > .col-5, .cols-widescreen > .col-6, .cols-widescreen > .col-7, .cols-widescreen > .col-8, .cols-widescreen > .col-9, .cols-widescreen > .col-10, .cols-widescreen > .col-11, .cols-widescreen > .col-12 {
    display: block;
    width: 100%;
    margin: 0;
  }
}
@media screen and (min-width: 900px) and (max-width: 1200px) {
  .cols-widescreen {
    display: block;
  }
  .cols-widescreen > .col, .cols-widescreen > .col-1, .cols-widescreen > .col-2, .cols-widescreen > .col-3, .cols-widescreen > .col-4, .cols-widescreen > .col-5, .cols-widescreen > .col-6, .cols-widescreen > .col-7, .cols-widescreen > .col-8, .cols-widescreen > .col-9, .cols-widescreen > .col-10, .cols-widescreen > .col-11, .cols-widescreen > .col-12 {
    display: block;
    width: 100%;
    margin: 0;
  }
}

.col {
  display: inline-flex;
  flex: 1;
  padding: 0.5rem;
}
.col-1, .col-offset-1 {
  display: inline-flex;
  width: 8.333334%;
  padding: 0.5rem;
}
.col-2, .col-offset-2 {
  display: inline-flex;
  width: 16.666667%;
  padding: 0.5rem;
}
.col-3, .col-offset-3 {
  display: inline-flex;
  width: 25%;
  padding: 0.5rem;
}
.col-4, .col-offset-4 {
  display: inline-flex;
  width: 33.333334%;
  padding: 0.5rem;
}
.col-5, .col-offset-5 {
  display: inline-flex;
  width: 41.666667%;
  padding: 0.5rem;
}
.col-6, .col-offset-6 {
  display: inline-flex;
  width: 50%;
  padding: 0.5rem;
}
.col-7, .col-offset-7 {
  display: inline-flex;
  width: 58.333%;
  padding: 0.5rem;
}
.col-8, .col-offset-8 {
  display: inline-flex;
  width: 66.666667%;
  padding: 0.5rem;
}
.col-9, .col-offset-9 {
  display: inline-flex;
  width: 75%;
  padding: 0.5rem;
}
.col-10, .col-offset-10 {
  display: inline-flex;
  width: 83.333334%;
  padding: 0.5rem;
}
.col-11, .col-offset-11 {
  display: inline-flex;
  width: 91.666667%;
  padding: 0.5rem;
}
.col-12, .col-offset-12 {
  display: inline-flex;
  width: 100%;
  padding: 0.5rem;
}

@media screen and (max-width: 600px) {
  .tablet-only,
  .desktop-only,
  .widescreen-only {
    display: none;
  }
}
@media screen and (min-width: 600px) and (max-width: 900px) {
  .mobile-only,
  .desktop-only,
  .widescreen-only {
    display: none;
  }
}
@media screen and (min-width: 900px) and (max-width: 1200px) {
  .mobile-only,
  .tablet-only,
  .widescreen-only {
    display: none;
  }
}
@media screen and (min-width: 1200px) {
  .mobile-only,
  .tablet-only,
  .desktop-only {
    display: none;
  }
}
.block {
  display: flex;
}
.block .block-left, .block .block-right, .block .block-center {
  display: flex;
  flex: 1;
}
.block .block-left {
  justify-content: flex-start;
  align-items: center;
}
.block .block-right {
  justify-content: flex-end;
  align-items: center;
}
.block .block-center {
  justify-content: center;
  align-items: center;
}
.block .block-item {
  display: inline-flex;
  justify-content: center;
  align-items: center;
  margin-right: 0;
}
.block .block-item:not(:last-child) {
  margin-right: 0.5rem;
}
@media screen and (max-width: 600px) {
  .block {
    flex-wrap: wrap;
  }
  .block .block-left, .block .block-right, .block .block-center {
    display: flex;
    flex: none;
    flex-flow: column;
    width: 100%;
  }
  .block .block-item {
    margin-bottom: 0;
  }
  .block .block-item:not(:last-child) {
    margin-right: 0;
    margin-bottom: 0.5rem;
  }
}

.block-media {
  padding: 0.5rem;
  display: flex;
}
.block-media .media-image {
  margin-right: 0.5rem;
}
.block-media .media-content {
  flex: 1;
}
.block-media .block-media {
  border-top: 1px solid #A7ADBA;
}
.block-media + .block-media {
  border-top: 1px solid #A7ADBA;
}

.section {
  display: block;
  padding: 2rem;
}
@media screen and (min-width: 1200px) {
  .section size-medium {
    padding: 3rem 1.5rem;
  }
  .section size-large {
    padding: 5rem 2.5rem;
  }
}

.container {
  display: block;
  margin: 0 auto;
  padding: 0 0.5rem;
}
@media screen and (max-width: 600px) {
  .container {
    max-width: 600px;
  }
}
@media screen and (min-width: 600px) and (max-width: 900px) {
  .container {
    max-width: 900px;
  }
}
@media screen and (min-width: 900px) and (max-width: 1200px) {
  .container {
    max-width: 900px;
  }
}
@media screen and (min-width: 1200px) and (max-width: 1800px) {
  .container {
    max-width: 1200px;
  }
}
.container-fluid {
  display: block;
  max-width: none;
  padding: 0 0.5rem;
}

.breadcrumb ul, .breadcrumb ol,
.breadcrumb.align-center ul,
.breadcrumb.align-center ol,
.breadcrumb.align-left ul,
.breadcrumb.align-left ol,
.breadcrumb.align-right ul,
.breadcrumb.align-right ol {
  line-height: 40px;
}
.breadcrumb ul li, .breadcrumb ol li,
.breadcrumb.align-center ul li,
.breadcrumb.align-center ol li,
.breadcrumb.align-left ul li,
.breadcrumb.align-left ol li,
.breadcrumb.align-right ul li,
.breadcrumb.align-right ol li {
  margin-right: 0.25rem;
  margin-left: 0.25rem;
  display: inline-block;
}
.breadcrumb ul li a, .breadcrumb ol li a,
.breadcrumb.align-center ul li a,
.breadcrumb.align-center ol li a,
.breadcrumb.align-left ul li a,
.breadcrumb.align-left ol li a,
.breadcrumb.align-right ul li a,
.breadcrumb.align-right ol li a {
  color: #2980B9;
}
.breadcrumb ul li:hover a, .breadcrumb ol li:hover a,
.breadcrumb.align-center ul li:hover a,
.breadcrumb.align-center ol li:hover a,
.breadcrumb.align-left ul li:hover a,
.breadcrumb.align-left ol li:hover a,
.breadcrumb.align-right ul li:hover a,
.breadcrumb.align-right ol li:hover a {
  color: #003B74;
}
.breadcrumb ul li.is-active a, .breadcrumb ol li.is-active a,
.breadcrumb.align-center ul li.is-active a,
.breadcrumb.align-center ol li.is-active a,
.breadcrumb.align-left ul li.is-active a,
.breadcrumb.align-left ol li.is-active a,
.breadcrumb.align-right ul li.is-active a,
.breadcrumb.align-right ol li.is-active a {
  color: #4F5B66;
}
.breadcrumb ul li + li::before, .breadcrumb ol li + li::before,
.breadcrumb.align-center ul li + li::before,
.breadcrumb.align-center ol li + li::before,
.breadcrumb.align-left ul li + li::before,
.breadcrumb.align-left ol li + li::before,
.breadcrumb.align-right ul li + li::before,
.breadcrumb.align-right ol li + li::before {
  content: "\002f";
  margin-right: 0.5rem;
  color: #65737E;
}

.breadcrumb {
  text-align: left;
  font-size: 1rem;
}
.breadcrumb.align-center {
  text-align: center;
}
.breadcrumb.align-left {
  text-align: left;
}
.breadcrumb.align-right {
  text-align: right;
}
.breadcrumb.size-small {
  font-size: 0.75rem;
}
.breadcrumb.size-medium {
  font-size: 1.25rem;
}
.breadcrumb.size-large {
  font-size: 1.5rem;
}
.breadcrumb.greater-seperate ul li + li::before, .breadcrumb.greater-seperate ol li + li::before {
  content: "\0227B";
}
.breadcrumb.arrow-seperate ul li + li::before, .breadcrumb.arrow-seperate ol li + li::before {
  content: "\02192";
}
.breadcrumb.dot-seperate ul li + li::before, .breadcrumb.dot-seperate ol li + li::before {
  content: "\00b7";
}
.breadcrumb.dash-seperate ul li + li::before, .breadcrumb.dash-seperate ol li + li::before {
  content: "\2013";
}
.breadcrumb.bullet-seperate ul li + li::before, .breadcrumb.bullet-seperate ol li + li::before {
  content: "\2022";
}
