<!DOCTYPE html>
<html>
	<head>
		<meta charset="utf-8">
		<meta name="viewport" content="width=device-width, initial-scale=1">
		<title>Lantern Manual!</title>
		<link rel="stylesheet" type="text/css" href="../../css/lantern.css">
    </head>
	<body>
        <!-- begin of nav -->
		<nav class="nav">
			<div class="container-fluid">
            <div class="nav-burger" onclick="navToggle(this)">
              <span></span>
              <span></span>
              <span></span>
            </div>
                <ul class="nav-menu">
                    <ul class="nav-start level1">
                      <li class="nav-item level1"><a href="../index.html">
                        Overview
                          </a></li>
                      <li class="nav-item level1"><a href="../modifiers.html">
                        Modifiers
                          </a></li>
                      <li class="nav-item level1 dropdown hoverable">
                        <a class="nav-item level1" href="layout.html">
                          Layout
                        </a>
                        <ul class="nav-dropdown level2 boxed">
                          <li class="nav-item level2"><a href="sections.html">
                            Sections
                              </a></li>
                          <li class="nav-item level2"><a href="container.html">
                              Container
                          </a></li>
                          <li class="nav-item level2"><a href="columns.html">
                              Columns
                          </a></li>
                          <li class="nav-item level2"><a href="block.html">
                              Block
                          </a></li>
                        </ul>
                      </li>
                      <li class="nav-item level1"><a href="../contents.html">
                        Contents
                          </a></li>
                      <li class="nav-item level1"><a href="../components.html">
                        Components
                          </a></li>
                      <li class="nav-item level1"><a href="../elements.html">
                        Elements
                          </a></li>
                      <li class="nav-item level1"><a href="../utilities.html">
                        Utilities
                          </a></li>
                      <li class="nav-item level1"><a href="../fields.html">
                        Fields
                          </a></li>
                      <li class="nav-item level1"><a href="../supalerk.html">
                        Supalerk version
                          </a></li>
                    </ul>
                </ul>
			</div>
		</nav>
        <!-- end of nav -->
		<main class="cols">
            <section class="section col-12">
				<div class="container-fluid">
                    <!-- begin of content -->
                    <div class="cols">
                        <h2 class="title size-2 col-12">Containers</h2>
                        <span class="subtitle size-3 col-12">กรอบภายในสัดส่วนของ section</span>
                        <hr>
                        <div class="col-12">
                            <div class="cols">
                                <span class="subtitle size-6 col-12">class container จะสร้างกรอบภายในโดยจะปรับขนาดตามขนาดหน้าจอเป็นช่วงๆ</span>
                                <span class="subtitle size-6 col-12">class container-fluid จะสร้างกรอบที่จะปรับขนาดตามขนาดหน้าจอแบบต่อเนื่อง</span>
                                <span class="subtitle size-6 col-12">สำหรับ container จะสามารถแก้จุด brakepoints ได้ในไฟล์ sass/modules/_inital.scss</span>
                            </div>
                        </div>
                        <section class="demo section fullwidth">
                            <h3 class="title size-4" style="margin-bottom: 10px;">ตัวอย่าง</h3>
                            <div class="container" style="height: 50px; background: #ddd; text-align: center;">
                                <span style="line-height: 50px;">นี้คือ Container</span>
                            </div>
                            <hr>
                            <div class="container-fluid" style="height: 50px; background: #ddd; text-align: center;">
                                <span style="line-height: 50px;">นี้คือ Container-fluid</span>
                            </div>
                        </section>
                    </div>
                    <!-- end of content -->
                </div>
            </section>
        </main>
    </body>
</html>