<!DOCTYPE html>
<html>
	<head>
		<meta charset="utf-8">
		<meta name="viewport" content="width=device-width, initial-scale=1">
		<title>Lantern Manual!</title>
		<link rel="stylesheet" type="text/css" href="../../css/lantern.css">
    </head>
	<body>
        <!-- begin of nav -->
		<nav class="nav">
			<div class="container-fluid">
            <div class="nav-burger" onclick="navToggle(this)">
              <span></span>
              <span></span>
              <span></span>
            </div>
                <ul class="nav-menu">
                    <ul class="nav-start level1">
                      <li class="nav-item level1"><a href="../index.html">
                        Overview
                          </a></li>
                      <li class="nav-item level1"><a href="../modifiers.html">
                        Modifiers
                          </a></li>
                      <li class="nav-item level1 dropdown hoverable">
                        <a class="nav-item level1" href="layout.html">
                          Layout
                        </a>
                        <ul class="nav-dropdown level2 boxed">
                          <li class="nav-item level2"><a href="sections.html">
                            Sections
                              </a></li>
                          <li class="nav-item level2"><a href="container.html">
                              Container
                          </a></li>
                          <li class="nav-item level2"><a href="columns.html">
                              Columns
                          </a></li>
                          <li class="nav-item level2"><a href="block.html">
                              Block
                          </a></li>
                        </ul>
                      </li>
                      <li class="nav-item level1"><a href="../contents.html">
                        Contents
                          </a></li>
                      <li class="nav-item level1"><a href="../components.html">
                        Components
                          </a></li>
                      <li class="nav-item level1"><a href="../elements.html">
                        Elements
                          </a></li>
                      <li class="nav-item level1"><a href="../utilities.html">
                        Utilities
                          </a></li>
                      <li class="nav-item level1"><a href="../fields.html">
                        Fields
                          </a></li>
                      <li class="nav-item level1"><a href="../supalerk.html">
                        Supalerk version
                          </a></li>
                    </ul>
                </ul>
			</div>
		</nav>
        <!-- end of nav -->
		<main class="cols">
            <section class="section col-12">
				<div class="container-fluid">
                    <!-- begin of content -->
                    <!-- Two col each menu with discription -->
                    <div class="cols">
                        <div class="col-6">
                            <div class="cols">
                                <div class="col-12">
                                    <a class="bg-link" href="sections.html">
                                        <h3 class="title size-4">Sections</h3>
                                        <span class="subtitle size-5">ใช้แบ่งสัดส่วน</span>
                                    </a>
                                </div>
                                <div class="col-12">
                                    <a class="bg-link" href="container.html">
                                        <h3 class="title size-4">Container</h3>
                                        <span class="subtitle size-5">กรอบภายในสัดส่วน</span>
                                    </a>
                                </div>
                            </div>
                        </div>
                        <div class="col-6">
                            <div class="cols">
                                <div class="col-12">
                                    <a class="bg-link" href="columns.html">
                                        <h3 class="title size-4">Columns</h3>
                                        <span class="subtitle size-5">จัดขนาดเป็นแถว</span>
                                    </a>
                                </div>
                                <div class="col-12">
                                    <a class="bg-link" href="block.html">
                                        <h3 class="title size-4">Block</h3>
                                        <span class="subtitle size-5">ใช้จัดหน้า</span>
                                    </a>
                                </div>
                            </div>
                        </div>
                    </div>
                    <!-- end of content -->
                </div>
            </section>
        </main>
    </body>
</html>
