$menu-border-color: $primary;
$menu-background-color: $white;
$menu-dark-border-color: $grey;
$menu-dark-background-color: $dark;
$menu-toggle-color: $dark;
$menu-label-color: $dark-grey;
$menu-item-color: $dark;
$menu-item-hover-color: $text;
$menu-item-hover-background-color: $light;
$menu-item-active-color: $primary-invert;
$menu-item-active-background-color: $primary;
$menu-item-divider-size: 1px;
$menu-item-divider-color: $grey;
$menu-dark-toggle-color: $white;
$menu-dark-label-color: $light-grey;
$menu-dark-item-color: $white;
$menu-dark-item-hover-color: $light;
$menu-dark-item-hover-background-color: $dark-grey;
$menu-dark-item-active-color: $primary-invert;
$menu-dark-item-active-background-color: $primary;
$menu-aside-height: auto;
$submenu-border-left-size: 1px;
$submenu-border-left-color: $grey;

.menu {
	.menu-label {
		color: $menu-label-color;
	}
	.menu-list {
		li {
			a {
				color: $menu-item-color;
				&:hover {
					color: $menu-item-hover-color;
					background: $menu-item-hover-background-color;
				}
				&.active {
					color: $menu-item-active-color;
					background: $menu-item-active-background-color;
				}
			}
		}
	}
	position: relative;
	display: inline-block;
	padding: 1rem;
	background: $menu-background-color;
	padding-right: 50px;
	border-bottom: 1px solid $menu-border-color; 
	z-index: 9999;
	&:hover {
		left: 0px;
		height: $menu-aside-height;
		border-bottom: 0;
		padding-bottom: 40px;
	}
	.menu-label {
		padding: 0.3rem;
		&.uppercase {
			text-transform: uppercase;
		}
	}
	.menu-list {
		padding: 0.3rem 0.7rem;
		li {
			padding: 0;
			&:not(:first-child) {
				border-top: $menu-item-divider-size solid $menu-item-divider-color;
			}
			a {
				display: block;
				width: 100%;
				padding: 0.5rem;
			}
			ul {
				border-left: $submenu-border-left-size solid $submenu-border-left-color;
				padding-left: 0.5rem;
				margin: 0.5rem 0.3rem;
			}
		}
	}
	&.dark {
		background: $menu-dark-background-color;
		border-bottom: 1px solid $menu-dark-border-color; 
		background: $menu-dark-background-color;
		.toggle-icon {   
			span {
				background: $menu-dark-toggle-color;
			}
		}
		.menu-label {
			color: $menu-dark-label-color;
		}
		.menu-list {
			li {
				a {
					color: $menu-dark-item-color;
					&:hover {
						color: $menu-dark-item-hover-color;
						background: $menu-dark-item-hover-background-color;
					}
					&.active {
						color: $menu-dark-item-active-color;
						background: $menu-dark-item-active-background-color;
					}
				}
			}
		}
	}
}