$menu-border-color: $primary;
$menu-background-color: $white;
$menu-toggle-color: $dark;
$menu-label-color: $dark-grey;
$menu-item-color: $dark;
$menu-item-hover-color: $text;
$menu-item-hover-background-color: $light;
$menu-item-active-color: $primary-invert;
$menu-item-active-background-color: $primary;
$menu-item-divider-size: 1px;
$menu-item-divider-color: $grey;
$menu-aside-height: auto;
$submenu-border-left-size: 1px;
$submenu-border-left-color: $grey;

.menu {
	.menu-label {
		color: $menu-label-color;
	}
	.menu-list {
		li {
			a {
				color: $menu-item-color;
				&:hover {
					color: $menu-item-hover-color;
					background: $menu-item-hover-background-color;
				}
				&.active {
					color: $menu-item-active-color;
					background: $menu-item-active-background-color;
				}
			}
		}
	}
	position: relative;
	display: inline-block;
	padding: 1rem;
	background: $menu-background-color;
	padding-right: 50px;
	z-index: 99;
	.menu-label {
		padding: 0.3rem;
		&.uppercase {
			text-transform: uppercase;
		}
	}
	.menu-list {
		padding: 0.3rem 0.7rem;
		li {
			padding: 0;
			&:not(:first-child) {
				border-top: $menu-item-divider-size solid $menu-item-divider-color;
			}
			a {
				display: block;
				width: 100%;
				padding: 0.5rem;
			}
			ul {
				border-left: $submenu-border-left-size solid $submenu-border-left-color;
				padding-left: 0.5rem;
				margin: 0.5rem 0.3rem;
			}
		}
	}
}