$model-background-color: $dark;
$model-background-opacity: 0.5;
$model-content-background-color: $white;

.modal {
	display: none;
	.modal-background {
		position: fixed;
		top: 0px;
		left: -100px;
		width: 10000px;
		height: 100%;
		overflow: hidden;
		background: $model-background-color;
		z-index: 9999;
		opacity: $model-background-opacity;
	}
	.modal-content {
		position: fixed;
		top: 50%;
		left: 50%;
		transform: translate(-50%, -50%);
		background: $model-content-background-color;
		z-index: 99999;
	}
	.close {
		position: fixed;
		top: 20px;
		right: 20px;
	}
}