// Colors //

// grey shade
$white: 			#FFFFFF !default;
$light: 			#ECF0F1 !default;
$light-grey: 		#C0C5CE !default;
$grey: 				#A7ADBA !default;
$dark-grey: 		#65737E !default;
$darker-grey: 		#4F5B66 !default;
$dark: 				#343D46 !default;
$black: 			#000000 !default;

// main color
$turquoise: 		#1ABC9C !default;
$emerald: 			#2ECC71 !default;
$green: 			#16A085 !default;
$cyan: 				#3498DB !default;
$blue: 				#2980B9 !default;
$nevy-blue:			#3273DC !default;
$orange: 			#F39C12 !default;
$pumpkin: 			#D35400 !default;
$purple: 			#800080 !default;
$red: 				#C0392B !default;
	
// Typography //

// font family
$font-sans-serif: BlinkMacSystemFont,-apple-system,"system-ui","Segoe UI","Roboto","Helvetica Neue","sans-serif" !default;
$font-monospace: "SFMono-Regular","Ubuntu Mono","Consolas","DejaVu Sans Mono","Menlo","monospace" !default;

// font size
$size-1: 			3rem !default;
$size-2: 			2.5rem !default;
$size-3: 			2rem !default;
$size-4: 			1.5rem !default;
$size-5: 			1.25rem !default;
$size-6: 			1rem !default;
$size-7: 			0.75rem !default;

// font weight
$weight-light: 		300 !default;
$weight-normal: 	400 !default;
$weight-medium: 	500 !default;
$weight-semibold: 	600 !default;
$weight-bold: 		700 !default;
	
// Responsiveness //

// high border of mobile and low border of tablet
$mobile: 			600px !default;
// high border of tablet and low border of desktop
$tablet: 			900px !default;
// high border of desktop and low border of wide-screen
$desktop: 			1200px !default;
// high border of wide-screen and low border of giant-screen
$wide-screen: 		1800px !default;

// gap between column
$gap-0: 0rem;
$gap-1: 0.25rem;
$gap-2: 0.50rem;
$gap-3: 0.75rem;
$gap-4: 1.00rem;
$gap-5: 1.50rem;
$gap-6: 2.00rem;

// Miscellaneous //

// radius
$radius-small: 		3px !default;
$radius: 			5px !default;
$radius-large: 		7px !default;











