// all variables in this file come from initial-variables.scss

// Colors //

$primary: 			$cyan !default;
$secondary: 		$green !default;
$info:				$nevy-blue !default;
$success:			$emerald !default;
$warning: 			$orange !default;
$danger: 			$red !default;


// Invert colors
// use for background and font of each color
$primary-invert: 	$white !default;
$secondary-invert: 	$white !default;
$info-invert:		$white !default;
$success-invert:	$white !default;
$warning-invert: 	$white !default;
$danger-invert: 	$white !default;

// Default colors

$text: 				$darker-grey !default;
$text-hover: 		$light !default;
$text-invert: 		$white !default;
$text-light: 		$grey !default;
$text-strong: 		$dark !default;
	
$background: 		$white !default;
$border: 			$grey !default;
$border-hover: 		$dark-grey !default;

// Link colors

$link: 				$blue !default;
$link-hover: 		$nevy-blue !default;
$link-focus: 		$nevy-blue !default;
$link-active: 		$nevy-blue !default;
$link-invert: 		$white !default;
$link-visited: 		$purple !default;

// Typography

$size-small: 		$size-7 !default;
$size-normal: 		$size-6 !default;
$size-medium: 		$size-5 !default;
$size-large: 		$size-4 !default;

